
body {
  font-family: Arial;
  background-color: #f4f4f4;
  color: #333;
}

.formulario-producto {
  background-color: #f9f9f9;
  padding: 1.5em;
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.formulario-producto h2 {
  text-align: center;
  margin-bottom: 1em;
}

.formulario-producto input,
.formulario-producto button {
  width: 100%;
  padding: 0.8em;
  margin: 0.5em 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario-producto button {
  background-color: #007BFF;
  color: white;
  border: none;
  font-weight: bold;
}
